@model IEnumerable<ElectronicStore.Areas.Admin.Models.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 class="title-5 m-b-35">Danh sách người dùng</h3>
<div class="table-data__tool">
    <div class="table-data__tool-right">
        <a href="~/Admin/KhachHang/Create" class="button au-btn au-btn-icon au-btn--green au-btn--small" id="modal">
            <i class="zmdi zmdi-plus"></i>add user
        </a>
    </div>
</div>

<div class="table-responsive table-responsive-data2">
    <table class="table table-data2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.hoTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eMail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.diaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.soDienThoai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.passWord)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="tr-shadow">
                    <td>
                        @Html.DisplayFor(modelItem => item.hoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.eMail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.diaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.soDienThoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passWord)
                    </td>
                    <td>
                        <div class="table-data-feature">
                            <a href="/Admin/KhachHang/Send" class="button item" data-toggle="tooltip" data-placement="top" title="Send">
                                <i class="zmdi zmdi-mail-send"></i>
                            </a>
                            <a href="/Admin/KhachHang/Edit/@item.khachHangID" class="button item" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                            <a href="/Admin/KhachHang/Delete/@item.khachHangID" class="button item" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <a href="/Admin/KhachHang/Details/@item.khachHangID" class="button item btnDetail" data-value="@item.khachHangID" data-toggle="tooltip" data-placement="top" title="Detail">
                                <i class="zmdi zmdi-view-module"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
>>>>>>> master
>>>>>>> master
<script>
    var Popup, dataTable;
    $(document).ready(function () {
        dataTable = $('#khachHangTable').DataTable({
            "ajax": {
                "url": '/Admin/KhachHang/GetKhachHang',
                "type": "GET",
                "datatype": "json"
            },

            "columns": [
                { "data": "hoTen", "autoWidth": true },
                { "data": "eMail", "autoWidth": true },
                { "data": "diaChi", "autoWidth": true },
                { "data": "soDienThoai", "autoWidth": true },
                { "data": "passWord", "autoWidth": true },
                {
                    "data": "khachHangID", "render": function (data) {
                        return "<a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("CreateOrEdit", "KhachHang")/"+data+"')><i class='fa fa-pencil'></i>Edit</a> <a class='btn btn-danger btn-sm' style='margin-left:5px'onclick=Delete("+data+")><i class='fa fa-trash'></i> Delete</a>"
                    },
<<<<<<< HEAD
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
=======
<<<<<<< HEAD
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
=======
                    "örderable": false,
                    "width":"150px"
>>>>>>> master
>>>>>>> master
                }
            ],
            "language": {
                "emptyTable": "Không tìm thấy dữ liệu! Vui lòng chọn <b>Thêm mới</b>"
            }
        });
    });
    function PopupForm(url) {
        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> master

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Employee Details',
<<<<<<< HEAD
=======
=======
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Add Customer',
>>>>>>> master
>>>>>>> master
                    height: 600,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
>>>>>>> master
>>>>>>> master
                });
            });
    }
    function SubmitForm(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> master
                    if(data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }

                    }

            });
        }
            return false; 
<<<<<<< HEAD
=======
=======
                    if (data.success) {
                        console.log();
                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPostion: "top-center",
                            className: "success"
                        })
                    }
                }
            });
        }
        else {
            return false;
        }
>>>>>>> master
>>>>>>> master
    }
    function Delete(id) {
        if (confirm('Bạn chắc chắn muốn xóa dữ liệu này? ')) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","KhachHang")/' + id,
                success: function (data) {
                    if (data.success) {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
<<<<<<< HEAD
                            globalPosition: "top center",
=======
<<<<<<< HEAD
                            globalPosition: "top center",
=======
                            globalPostion: "top-center",
>>>>>>> master
>>>>>>> master
                            className: "error"
                        })

                    }
                }
            });
        }
    }
</script>

